<script>

function getRowDetailAjax(tableId, rowId) {
	return $
	.ajax({
		type : 'GET',
		url : '/tables/' + tableId + '/rows/' + rowId,
		success : function(result) {
			//console.log(JSON.stringify(result, null, 4));
			

		},
		error : function(result) {
			alert(result.responseJSON.summaryMessage);
		},
		dataType : "json"
	});
	
	
}

function getRowAttachmentsAjax(tableId, rowId) {
	return $
	.ajax({
		type : 'GET',
		url : '/tables/' + tableId + '/rows/' + rowId + '/attachments',
		success : function(result) {
			//console.log(JSON.stringify(result, null, 4));

		},
		error : function(result) {
			alert(result.responseJSON.summaryMessage);
		},
		dataType : "json"
	});
}

function getRowColumnMapAjax(tableId, rowId) {
	return $
	.ajax({
		type : 'GET',
		url : '/tables/' + tableId + '/rows/' + rowId + '/map',
		success : function(result) {
			//console.log(JSON.stringify(result, null, 4));

		},
		error : function(result) {
			alert(result.responseJSON.summaryMessage);
		},
		dataType : "json"
	});
}

function getQuestionsAjax(tableId) {
	return $
	.ajax({
		type : 'GET',
		url : '/tables/' + tableId + '/questions',
		success : function(result) {
			//console.log(JSON.stringify(result, null, 4));

		},
		error : function(result) {
			alert(result.responseJSON.summaryMessage);
		},
		dataType : "json"
	});	
}

	$('#rowDetailModal').on('show.bs.modal', function(event) {
		var button = $(event.relatedTarget)
		var rowId = button.data('rowid')
		var rowETag = button.data('rowetag')
		/*<![CDATA[*/
    	var tableId = "[[${tableId}]]";
		/*]]>*/
		
		<!--/* https://stackoverflow.com/questions/3709597/wait-until-all-jquery-ajax-requests-are-done */-->
		
		$.when(
			getRowDetailAjax(tableId, rowId), 
			getRowAttachmentsAjax(tableId, rowId),
			getRowColumnMapAjax(tableId, rowId),
			getQuestionsAjax(tableId)).done(function(rowDetail, attachments, colMap, questions){
				console.log("rowDetail");
				console.log(JSON.stringify(rowDetail, null, 4));
				console.log("attachments");
				console.log(JSON.stringify(attachments, null, 4));
				console.log("colMap");
				console.log(JSON.stringify(colMap, null, 4));
				console.log("questions");
				console.log(JSON.stringify(questions, null, 4));
			buildDetailDisplay(rowDetail, attachments, colMap,  questions);
		})

	})

	function buildDetailDisplay(rowDetail, attachments, colMap, questions) {
		
		$('#rowDetailBody').empty();

		var rowDetailData = rowDetail[0];
		var orderedColumns = rowDetailData.orderedColumns;
		var questionData = questions[0];
		var attachmentData = attachments[0];
		var colMapData = colMap[0];
		for (var colName in questionData) {
		    var question = questionData[colName];
		    var response = colMapData[colName];
		    if (!response) { response = "[No response]"; }
		    $('#rowDetailBody').append("<div><strong>" + question.displayText + "</strong></div>");
		    var id = "detail-" + colName;
		    if (response in attachmentData) {
		    	var relativeUrl = attachmentData[response].relativeUrl;
		    	
		    	if (attachmentData[response].supportsThumbnail) {
		    		$('#rowDetailBody').append("<div id='" + id + "'></div>");
		    		$('#'+id).append(
		    		"<a href='/attachment" + relativeUrl + "'></a>")
		    		$('#'+id + " a").append(
		    		"<img src='/attachment/thumb" + relativeUrl +"' alt='Thumbnail of "+ response +"'></img>");

		    	} else {
				    $('#rowDetailBody').append("<div id='" + id + "'></div>");
				    $('#'+id).append("<a href='/attachment" 
				    		+ relativeUrl + "'>" + response + "</a>");
		    	}
		    }
		    else {
		    	$('#rowDetailBody').append("<div id='" + id + "'></div>").append(response);
		    }
		    

		}
	    $('#rowDetailBody').append("<hr></hr>");
	    $('#rowDetailBody').append("<div><strong>Row eTag</strong></div>");
	    $('#rowDetailBody').append("<div>" + rowDetailData.rowETag + "</div>");
	    $('#rowDetailBody').append("<div><strong>Row ID</strong></div>");
	    $('#rowDetailBody').append("<div>" + rowDetailData.id + "</div>");
	    $('#rowDetailBody').append("<div><strong>Create User</strong></div>");
	    $('#rowDetailBody').append("<div>" + rowDetailData.createUser + "</div>");
	    $('#rowDetailBody').append("<div><strong>Last Update User</strong></div>");
	    $('#rowDetailBody').append("<div>" + rowDetailData.lastUpdateUser + "</div>");
	    
	    $('#rowDetailBody').append("<div><strong>Locale</strong></div>");
	    $('#rowDetailBody').append("<div>" + rowDetailData.locale + "</div>");


	    
	    $('#rowDetailBody').append("<div><strong>Savepoint Timestamp</strong></div>");
	    $('#rowDetailBody').append("<div>" + rowDetailData.savepointType + "</div>");
	    $('#rowDetailBody').append("<div><strong>Savepoint Timestamp</strong></div>");
	    $('#rowDetailBody').append("<div>" + rowDetailData.savepointTimestamp + "</div>");
	    $('#rowDetailBody').append("<div><strong>Savepoint Creator</strong></div>");
	    $('#rowDetailBody').append("<div>" + rowDetailData.savepointCreator + "</div>");
	    $('#rowDetailBody').append("<div><strong>Self URI</strong></div>");
	    $('#rowDetailBody').append("<div>" + rowDetailData.selfUri + "</div>");
	}

;
</script>