
<!-- Row Detail Modal -->
<div class="modal fade" id="rowDetailModal" tabindex="-1" role="dialog"
	aria-labelledby="rowDetailModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="rowDetailModalLabel">Row Detail</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table" id="rowDetailModalTable">
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					id="rowDetailCloseCancelButton" data-dismiss="modal">Cancel</button>
				<button name="rowDetailButton" id="rowDetailButton" type="button"
					class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>