body {
	min-height: 2000px;
}

.container {
	background-color: white;
}

.navbar-static-top {
	margin-bottom: 19px;
}

.page-header {
	color: #254d7c;
	border-bottom: none;
}

.jumbotron {
	margin-top: 30px;
	background-color: white;
}



#odk-menu-icon {
	margin-top: -6px;
}

#odk-sign-out {
	margin-top: 8px;
}