<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{odk_tables_layout}">
<th:block layout:fragment="title"
	th:text="'File Attachments for ' + ${tableId}"></th:block>
<body>
	<th:block layout:fragment="odktablescontent">
		<table class="table"
			th:if="${manifest != null and not #lists.isEmpty(manifest)}">
			<thead>
				<tr>
					<th>Filename</th>
					<th>Content Length</th>
					<th>Content Type</th>
					<th>MD5 Hash</th>

				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Filename</th>
					<th>Content Length</th>
					<th>Content Type</th>
					<th>MD5 Hash</th>

				</tr>
			</tfoot>
			<tbody th:each="file: ${manifest}">
				<tr>
					<td><a th:href="@{|/attachment${file.relativeUrl}|}"><img
							th:if="${file.supportsThumbnail}"
							th:src="@{|/attachment/thumb${file.relativeUrl}|}"
							th:alt="@{|Thumbnail for ${file.filename}|}" />
							<span th:if="${!file.supportsThumbnail}" th:text="${file.filename}"></span></a></td>
					<td th:text="${file.contentLength}"></td>
					<td th:text="${file.contentType}"></td>
					<td th:text="${file.md5hash}"></td>

				</tr>
			</tbody>
		</table>
		<div th:if="${manifest == null or #lists.isEmpty(manifest)}">
			There are no file attachments.</div>
	</th:block>
</body>
</html>