<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title layout:include="~{this :: title}">Title from LAYOUT</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<link href='//fonts.googleapis.com/css?family=Holtwood One SC'
	rel='stylesheet'>
<link rel="stylesheet" href="/css/menulayout.css">
</head>

<body>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img id="odk-menu-icon"
					alt="ODK Hamster Client" src="/images/hamster_32.png" width="32"
					height="32"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<!--<li class="active"><a href="#">Home</a></li>-->
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Form Tables <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/tables/upload">Upload New Table</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Existing Form Tables</li>
							<th:block th:each="tableId: ${tableIds}">
								<li><a th:text="${tableId}"
									th:href="@{|/tables/manifest/${tableId}|}"></a></li>
							</th:block>
						</ul></li>

					<li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">Administer
							Site <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="/admin/users">Set Users and Roles</a></li>
						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">My Account <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/whoami">Who Am I?</a></li>
							<li><a href="/password">Change Password</a></li>
						</ul></li>

				</ul>
				<div class="navbar-header navbar-right">
					<form id="logout_form" th:action="@{/logout}" method="post">
						<input id="odk-sign-out" class="btn btn-default" type="submit"
							value="Sign Out" />
					</form>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Logged in as <span th:text="${currentUser.fullName}">Javier
							Cáceres</span></a></li>
				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>


	<div class="container">


		<h1>
			<th:block layout:fragment="title"></th:block>
		</h1>

		<section layout:fragment="content">
			<p>Page content goes here</p>
		</section>

	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>
</body>
</html>