<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{odk_tables_layout}">
<th:block layout:fragment="title"
	th:text="'File Manifest for ' + ${tableId}"></th:block>
<body>
	<th:block layout:fragment="odktablescontent">
		<table class="table" th:if="${manifest.files != null and not #lists.isEmpty(manifest.files)}">
			<thead>
				<tr>
					<th>Filename</th>
					<th>Content Length</th>
					<th>Content Type</th>
					<th>MD5 Hash</th>
				
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Filename</th>
					<th>Content Length</th>
					<th>Content Type</th>
					<th>MD5 Hash</th>
				</tr>
			</tfoot>
			<tbody th:each="file: ${manifest.files}">
				<tr>
					<td><a th:text="${file.filename}"
						th:href="@{|/file/${file.filename}|}"></a></td>
					<td th:text="${file.contentLength}"></td>
					<td th:text="${file.contentType}"></td>
					<td th:text="${file.md5hash}"></td>
				</tr>
			</tbody>
		</table>
		<div
			th:if="${manifest.files == null or #lists.isEmpty(manifest.files)}">
			There are no files.</div>
	</th:block>
</body>
</html>