<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{odk_tables_layout}">
<th:block layout:fragment="title" th:text="'Rows for ' + ${tableId}"></th:block>
<body>

	<th:block layout:fragment="odktablescontent">
		<table class="table"
			th:if="${rowResourceList.rows != null and not #lists.isEmpty(rowResourceList.rows)}">
			<thead>
				<tr>

					<th
						th:replace="rows/column_heading::colhead ('rowETag','Row eTag', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('createUser','Create User', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('lastUpdateUser','Update User', ${sortColumn}, ${ascending})"></th>


					<th:block th:each="col: ${rowResourceList.rows[0].values}">
						<th
							th:replace="rows/column_heading::colhead (${col.column},${col.column}, ${sortColumn}, ${ascending})"></th>

					</th:block>
					<th
						th:replace="rows/column_heading::colhead ('locale','Locale', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('savepointType','Savepoint Type', ${sortColumn}, ${ascending})"></th>

					<th
						th:replace="rows/column_heading::colhead ('savepointTimestamp','Savepoint Timestamp', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('savepointCreator','Savepoint	Creator', ${sortColumn}, ${ascending})"></th>

				</tr>
			</thead>
			<tfoot>
				<tr>

					<th
						th:replace="rows/column_heading::colhead ('rowETag','Row eTag', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('createUser','Create User', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('lastUpdateUser','Update User', ${sortColumn}, ${ascending})"></th>


					<th:block th:each="col: ${rowResourceList.rows[0].values}">
						<th
							th:replace="rows/column_heading::colhead (${col.column},${col.column}, ${sortColumn}, ${ascending})"></th>

					</th:block>
					<th
						th:replace="rows/column_heading::colhead ('locale','Locale', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('savepointType','Savepoint Type', ${sortColumn}, ${ascending})"></th>

					<th
						th:replace="rows/column_heading::colhead ('savepointTimestamp','Savepoint Timestamp', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('savepointCreator','Savepoint	Creator', ${sortColumn}, ${ascending})"></th>

				</tr>
			</tfoot>
			<tbody th:each="row: ${rowResourceList.rows}">
				<tr>
					<td th:text="${row.rowETag}"></td>
					<td th:text="${row.createUser}"></td>
					<td th:text="${row.lastUpdateUser}"></td>
					<th:block th:each="col: ${row.values}">
						<td th:text="${col.value}"></td>
					</th:block>
					<td th:text="${row.locale}"></td>
					<td th:text="${row.savepointType}"></td>
					<td th:text="${row.savepointTimestamp}"></td>
					<td th:text="${row.savepointCreator}"></td>
				</tr>
			</tbody>
		</table>
		<div
			th:if="${rowResourceList.rows == null or #lists.isEmpty(rowResourceList.rows)}">
			There are no files.</div>
	</th:block>
</body>
</html>