<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{odk_tables_layout}">
<th:block layout:fragment="title" th:text="'Rows for ' + ${tableId}"></th:block>
<body>

	<th:block layout:fragment="odktablescontent">
			<th:block th:include="messaging/dismissable_alert"></th:block>
	
		<table class="table"
			th:if="${rowResourceList.rows != null and not #lists.isEmpty(rowResourceList.rows)}">
			<thead>
				<tr>

					<th
						th:replace="rows/column_heading::colhead ('_row_etag','Row eTag', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('_creator_uri_user','Create User', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('_last_update_uri_user','Update User', ${sortColumn}, ${ascending})"></th>


					<th:block th:each="col: ${rowResourceList.rows[0].values}">
						<th
							th:replace="rows/column_heading::colhead (${col.column},${col.column}, ${sortColumn}, ${ascending})"></th>

					</th:block>
					<th
						th:replace="rows/column_heading::colhead ('_locale','Locale', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('_savepoint_type','Savepoint Type', ${sortColumn}, ${ascending})"></th>

					<th
						th:replace="rows/column_heading::colhead ('_savepoint_timestamp','Savepoint Timestamp', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('_savepoint_creator','Savepoint	Creator', ${sortColumn}, ${ascending})"></th>
					<th>Actions</th>
				</tr>
			</thead>
			<tfoot>
				<tr id="tableHeadingRow">

					<th
						th:replace="rows/column_heading::colhead ('_row_etag','Row eTag', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('_creator_uri_user','Create User', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('_last_update_uri_user','Update User', ${sortColumn}, ${ascending})"></th>


					<th:block th:each="col: ${rowResourceList.rows[0].values}">
						<th
							th:replace="rows/column_heading::colhead (${col.column},${col.column}, ${sortColumn}, ${ascending})"></th>

					</th:block>
					<th
						th:replace="rows/column_heading::colhead ('_locale','Locale', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('_savepoint_type','Savepoint Type', ${sortColumn}, ${ascending})"></th>

					<th
						th:replace="rows/column_heading::colhead ('_savepoint_timestamp','Savepoint Timestamp', ${sortColumn}, ${ascending})"></th>
					<th
						th:replace="rows/column_heading::colhead ('_savepoint_creator','Savepoint	Creator', ${sortColumn}, ${ascending})"></th>
					<th>Actions</th>
				</tr>
			</tfoot>
			<tbody >
				<tr th:each="row: ${rowResourceList.rows}" th:id="'tableRow-' + ${#strings.substring(row.rowETag,5)}">
					<td th:text="${row.rowETag}" ></td>
					<td th:text="${row.createUser}" th:id="'createUser-' + ${#strings.substring(row.rowETag,5)}"></td>
					<td th:text="${row.lastUpdateUser}"></td>
					<th:block th:each="col: ${row.values}">
						<td th:text="${col.value}"></td>
					</th:block>
					<td th:text="${row.locale}"></td>
					<td th:text="${row.savepointType}"></td>
					<td th:text="${row.savepointTimestamp}" th:id="'savepointTimestamp-' + ${#strings.substring(row.rowETag,5)}"></td>
					<td th:text="${row.savepointCreator}"></td>
					<td><button type="button" class="btn btn-default"
							data-toggle="modal" data-target="#editRowModal"
							th:attr="data-action='edit',data-rowetag=${row.rowETag},data-createuser=${row.createUser},data-lastupdateuser=${row.lastUpdateUser},data-locale=${row.locale}">Edit</button>
						<button type="button" class="btn btn-danger" data-toggle="modal"
							data-target="#deleteRowModal"
							th:attr="data-rowid=${row.rowId},data-rowetag=${row.rowETag}">Delete</button></td>
				</tr>
			</tbody>
		</table>
		<div
			th:if="${rowResourceList.rows == null or #lists.isEmpty(rowResourceList.rows)}">
			There are no files.</div>

		<th:block th:include="rows/delete_row_modal"></th:block>
	</th:block>

	<th:block layout:fragment="odk_tables_bodyend">
		<th:block th:include="rows/delete_row_script"></th:block>
	</th:block>
</body>
</html>