<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{top_menu_layout}">

<th:block layout:fragment="title">Who Am I?</th:block>
<body>
	<section layout:fragment="content">
		<h2 th:text="'Username: ' + ${username}"></h2>
		<h2 th:text="'Full name: ' + ${fullName}"></h2>
		<h2 th:if="${officeId != null}" th:text="'Office ID: ' + ${officeId}"></h2>

		<h2>Roles</h2>
		<ul th:each="role: ${roles}">
			<li th:text="${role}"></li>
		</ul>
	</section>
</body>
</html>