<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{top_menu_layout}">

<th:block layout:fragment="title">Who Am I?</th:block>
<body>
	<section layout:fragment="content">
		<p th:text="'Username: ' + ${username}"></p>
		<p th:text="'Full name: ' + ${fullName}"></p>
		<p th:if="${officeId != null}" th:text="'Office ID: ' + ${officeId}"></p>

		<h2>Roles</h2>
		<!--/* Why double-underscores? 
		 http://stackoverflow.com/questions/29755615/how-to-access-a-map-in-thymeleaf-spring-dialect-when-the-key-is-changing */-->
		<ul th:each="role: ${roles}">
			<li th:text="${roleDescriptions[__${role}__]}">Role Name</li>
		</ul>
	</section>
</body>
</html>